
.image {
  &.is-256x256 {
    img {
      width: 256px;
      height: 256px;
    }
  }
}

.navbar {
  a {
    color: $ted-dark-black;
    &:focus-within,
    &:focus {
      color: $ted-red;
    }

    &:hover {
      color: $ted-dark-black;
    }
  }
  .navbar-link {
    &:not(.is-arrowless)::after {
      border-color: $ted-red;
    }
  }
}
