.over-hidden {
  overflow: hidden !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.max-w-half {
  max-width: 50%;
}

.min-h-100vh {
  min-height: 100vh;
}

.none {
  display: none !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-half {
  margin-left: .5rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.p-0{
  padding: 0 !important;
}

.p-1{
  padding: 1rem !important;
}

.p-2{
  padding: 2rem !important;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pointer {
  cursor: pointer;
}

.ted-red {
  color: $ted-red;
}

.ted-white {
  color: $ted-white;
}

.white-bg {
  background-color: $ted-white;
}

.transparent-bg {
  background-color: transparent !important;
}

.black-bg {
  background-color: $ted-dark-black;
}
