.over-hidden {
  overflow: hidden !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.w-h-100 {
  width: 100% !important;
  height: 100% !important;
}

.max-w-half {
  max-width: 50%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.min-h-100vh {
  min-height: 100vh;
}

.none {
  display: none !important;
}

.ml-half {
  margin-left: .5rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mt-9 {
  margin-top: 6rem;
}

.mb-9 {
  margin-bottom: 6rem !important;
}

.p-5px {
  padding: 5px !important;
}

.pointer {
  cursor: pointer;
}

.ted-red {
  color: $ted-red !important;
}

.ted-white {
  color: $ted-white !important;
}

.red-bg {
  background-color: $ted-red !important;
}

.white-bg {
  background-color: $ted-white !important;
}

.transparent-bg {
  background-color: transparent !important;
}

.black-bg {
  background-color: $ted-dark-black;
}

.grow-8 {
  flex-grow: 8;
}
