@font-face {
  font-family: "TEDx";
  src:
    url('/fonts/Sharp_Grotesque_Book.woff') format('woff'),
    url('/fonts/Sharp_Grotesque_Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TEDx";
  src:
    url('/fonts/Sharp_Grotesque_italic.woff') format('woff'),
    url('/fonts/Sharp_Grotesque_italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TEDx";
  src:
    url('/fonts/Sharp_Grotesque_medium.woff') format('woff'),
    url('/fonts/Sharp_Grotesque_medium.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;

  font-family: 'TEDx', Arial, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    outline: none;
  }

  #__nuxt,
  #__layout {
    width: 100%;
    height: 100%;
  }
}

img {
  max-width: 100%;
}
