.mb-2-mobile {
  @media all and (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.mobile-menu {
  @media all and (max-width: 1023px) {
    background-color: $ted-white;
    z-index: 1000;
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;

    .navbar-end{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .navbar-item {
        width: 100%;
        font-size: 3rem;
        text-align: center;
      }
    }
  }
}

/**
 * @see https://stackoverflow.com/a/41869915
 */
.reverse-columns-mobile {
  @media(max-width: 1023px) {
    flex-direction: column-reverse;
    display: flex;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}
